li {
    list-style-type:none;
}


.book{
    width:100%;
    margin:10px;
    float:left;
}
.book_item
{
    min-height: 180px;
}
.book li img{float:left;width:160px;}

.book ,.book_content{width:900px;}

.book_price
{
    color:red;
}

.book_title
{
    font-size:24px;
    font-weight:700;
}

.book_price
{
    font-weight:900;
}

button {
    width: 150px;
    padding:6px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-size:125%
}